.tiptap {
    p {
        font-size: 1.5rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1.7rem;
    }
}
