@import "tailwindcss";
@import "./tiptap/highlight.css";
@import "./tiptap/horizontal-rule.css";
@import "./tiptap/link.css";
@import "./tiptap/list.css";
@import "./tiptap/text.css";

body {
    min-height: 100vh;
}

html {
    scroll-padding-bottom: 30vh;
}

@media (max-width: 768px) {
    html {
        font-size: 80%;
    }
}

.paperBg {
    background-image: url("/paperTexture.webp");
    background-repeat: repeat;
    background-size: 100vw 1281px;
}
