@import "tailwindcss";

.paperBg {
    background-image: url("/cream-paper-texture.webp");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

@layer utilities {
    .scale-by-width {
        transform: scale(calc(4.31 * (100% + 17px)));
    }
}
