@import "tailwindcss";

.paperBg {
    background-image: url("/paperTexture.webp");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
}

@layer utilities {
}
